<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="/static/css/auth.css">
</head>

<body>

    <div class="auth-container">

        <!-- LEFT IMAGE SECTION -->
        <div class="auth-left">
            <img src="../static/img/evoluznlogo_white.png" class="logo" alt="Company Logo">
        </div>

        <!-- RIGHT LOGIN SECTION -->
        <div class="auth-right">
            <div class="auth-box">
                <h2>WELCOME BACK 👋</h2>

                <form method="POST">
                    <label>Email</label>
                    <input type="email" name="email" placeholder="Enter email" required>

                    <label>Password</label>
                    <input type="password" name="password" placeholder="Enter password" required>

                    <button type="submit">Sign in</button>
                    <p class="auth-text">
                        Don't have an account?
                        <a href="/register">Register</a>
                    </p>
                </form>


            </div>
        </div>

    </div>



</body>

</html>